* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: normal;
  background: rgb(245, 245, 245);
}

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 35px;
}

#ContactForm{
  text-align: left;
}

#ContactFormMessage{
  max-width: 100%;
  min-width: 100%;
  max-height: 20em;
  min-height: 5em;
}

.contact-form {
  margin: 35px auto 0px auto;
  width: 80%;
}

.contact-form label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input, #ContactForm {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus, #ContactForm:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #22b352;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #1a883f;
}

.contact-form button:hover {
  background-color: #1a883f;
  border-bottom: 3px solid #22b352;
}

@media all and (min-width: 1000px) {
  .contact-form {
    width: 40%;
  }
}

@media all and (min-width: 1080px) {
  .contact-form {
    width: 30%;
  }
}

.scroll {
  height: 1000px;
}

/* Nav Bar  */

.container {
  margin-right: 100px;
  margin-left: 50px;
}
.container2 {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  margin-left: 650px;
}

#navbar {
  background-color: #008000;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.logo {
  margin-top: -50px;
  width: 200px;
}

h1 {
  font-size: 34px;
}
